body {
    height: 100vh;
    background-color: rgb(0, 110, 255);
    display: grid;
    justify-content: center;
    transition: background-color 1s;
}

canvas {
    margin-top: -5em;
    margin-bottom: -3em;
    pointer-events: none;
}
